html,
body {
  height: 100%;
  margin: 0;
}

body {
  text-align: center;
  font-size: 40px;
  color: #333;
}

dimension {
  position: absolute;
  border: 1px solid rgba(#000, 0.4);
  border-top: 0;
  border-left: 0;

  &.horizontal {
    .fa-refresh {
      top: -20px;
      right: 10px;
    }

    .fa-arrows {
      top: -20px;
      left: 10px;
    }

    &:before {
      content: '';
      transform: translateY(0.5px);
      position: absolute;
      left: 0;
      top: -3px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 5px 3px 0;
      border-color: transparent #000 transparent transparent;
    }

    &:after {
      content: '';
      position: absolute;
      transform: translateY(0.5px);
      right: 0;
      top: -3px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 0 3px 5px;
      border-color: transparent transparent transparent #000;
    }
  }

  &.vertical {
    &:before {
      content: '';
      transform: translateX(0.5px);
      position: absolute;
      left: -3px;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 3px 5px;
      border-color: transparent transparent #000;
    }

    &:after {
      content: '';
      transform: translateX(0.5px);
      position: absolute;
      left: -3px;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 3px 0;
      border-color: #000 transparent transparent;
    }

    .fa-arrows {
      left: -20px;
      bottom: 10px;
    }

    .fa-refresh {
      left: -20px;
      top: 10px;
    }
  }

  i.fa {
    cursor: pointer;
    position: absolute;
    font-size: 12px;
  }

  > div {
    font-size: 16px;
    background: #FFF;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    display: inline;
  }
}

box {
  background: #EEE;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
